body{
    margin: auto;
    background-color: rgb(224, 224, 224);
}
header{
    background-color: antiquewhite;
    padding-left: 40px;
    padding-bottom: 10px;
}

h1{
    margin: 0% auto;
    padding: 10px;
}
{
    text-align: center;
}

.nomeC{
    text-align: center;
    font-weight: bold;
}
span{
    font-style: italic ;
    font-weight: normal;
}

nav li{
    display: inline-block;
    padding-right: 20px;
    padding-left: 10px;
}
nav a{
    display: inline-block;
    padding-right: 20px;
    padding-left: 10px;
}
table {
    text-align: center;
    border: 2px solid black;
    margin-left: auto;
    margin-right: auto;
}

h2{
    padding-top: 30px;
    clear: both;
}

article{
    width: 50%;
    margin: auto;
}

img{
    float: left;
    width: 300px;
    padding-right: 15px;
}
.img-visao{
    width: 200px;
}

.section-text{
margin-top: 10%;
width: 600px;
}

.section-textb{
    margin-top: 10%;
    width: 600px;
}

.section-bonk{
    clear: both;
}
aside{
    display: inline-block;
    position: absolute;
    border-radius: 15%;
    margin-top: 200px;
    margin-left: 35%;
    text-align: center;
    vertical-align: top;
    width: 15%;
    padding-top: 20px;
    padding-bottom: 20px;
    background-color: bisque;
}

h4{
    padding-top: 20px;
}

footer{
    margin-top: 100px;
    clear: both;
    background-color: antiquewhite;
    width: 0% auto;
    text-align: center;
    padding: 3px;
}
