body{
    width: 80%;
    margin: auto;
    background-color: rgb(224, 224, 224);
}

img{
    width: 300px;
}

.section-visao{
    display: block;
    vertical-align: auto;
}
p{
    display: inline-block;
}
.botton{
    background-color: aliceblue;
}
div{
    display: inline-block;
    vertical-align: auto;
}
