h1{font-family: sans-serif;}
p{font-weight: 600;font-size: 3em;}
body{font-size: 16px;}
.a{color: yellow; font-style: oblique;}
.v{color: red;line-height: 5;}
.m{color: brown;text-decoration:underline;text-align: center;}