html {
  box-sizing: border-box;
}

*, *:before, *:after {
  box-sizing: inherit;
}

body {
  width: 90%;
  margin: auto;
  font-size: 20px;
}

h1 {
  font-size: 30px;
  margin-top: 30px;
}

h2 {
  font-size: 24px;
}

@media screen and (min-width: 800px){
  body {
    background-color: rgb(225, 225, 225);
  }
}

@media screen and (min-width: 1300px){
  body {
    background-color: rgb(225, 225, 225);
    width: 80%;
    font-size: 25px;
  }
}